<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kamil.transapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="Transapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/tir_driver"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddUser" />
        <activity android:name=".DriverActivity" />
        <activity android:name=".WarehouseworkerActivity" />
        <activity android:name=".RemoveUser" />
        <activity android:name=".ManagerMenu" />
        <activity android:name=".WarehouseMenu" />
        <activity android:name=".DriverMenu" />
    </application>

</manifest>